{% extends "common.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/CSS/common.css">
<link rel="stylesheet" type="text/css" href="/CSS/member.css">
{% endblock %}

{% block content %}
<div class="memberHistoryFrame">
    <div class="memberFrame">
        <div class="imageFrame">
            <img src="https://fakeimg.pl/150x150/" alt="" class="headstrick">
            <div class="memberName">namenamename</div>
        </div>
    </div>
    <div class="historyFrame">
        <div class="historyFrameAll">
            <div class="historymenu">
                <div class="historyitem">待付款</div>
                <div class="historyitem">已付款</div>
                <div class="historyitem">已完成</div>
            </div>
            <div class="historyOrder">
                <!-- <img src="" alt="">
                <div class="historyOrderFrame">
                <div class="orderImage">
                    <div>
                        <img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg">
                    </div>
                </div>
                <div class="orderFrame">
                    <div class="orderItem"><div>訂單編號 : </div><div class="number">1231</div></div>
                    <div class="orderItem"><div>日期 : </div><div class="date">32313</div></div>
                    <div class="orderItem"><div>時間 : </div><div class="time">3213213</div></div>
                    <div class="orderItem"><div>金額 : </div><div class="price">213123</div></div>
                </div> -->
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/javascript/common.js"></script>
<script src="/javascript/member.js"></script>
{% endblock %}